/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 14, 2026, 11:31:25 PM
    Author     : LEGION 5
*/

.cart-page{
    margin:5px auto;
    margin-top:5px;
    background:#fff;
    padding:10px;
    border-radius:16px;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);
}

.cart-table{
    width:100%;
    border-collapse:collapse;
}

.cart-table th{
    background:#f8f9fa;
    text-align:center;
    font-weight:600;
}

.cart-table td{
    text-align:center;
    vertical-align:middle;
}

.cart-table img{
    border-radius:10px;
    width:70px;
}

.cart-table-wrapper{
    height:calc(100vh - 320px);   
    overflow-y:auto;
    border:1px solid #eee;
    border-radius:10px;
}

.cart-footer{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    background:white;
    border-top:1px solid #ddd;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 -3px 10px rgba(0,0,0,0.05);
    z-index:2000;
}

.main-content{
    padding-bottom:110px;
}

.left-actions{
    display:flex;
    gap:10px;
}

.right-actions{
    display:flex;
    align-items:center;
    gap:30px;
}

.total-box{
    display:flex;
    flex-direction:column;
    font-size:14px;
}

.total-box span{
    font-size:20px;
    font-weight:700;
}

.total-cart span{
    color:#198754;
}

.total-selected span{
    color:#dc3545;
}